/* Efeitos Globais */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-parallax1,
.container-parallax2,
.container-parallax3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Topo da página */
.topo {
    width: 100%;
    position: fixed;
    z-index: 1;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #1f4037;
    color: #fff;
}

.topo div {
    position: absolute;
    top: 80%;
    left: 50px;
    right: 50px;
}

.topo div a {
    margin-right: 20px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 3px 5px 2px #000000;
    letter-spacing: 2px;
    color: #c4a47c;
}

/* Container Parallax
/* Container Parallax 1 */
.container-parallax1 {
    background-image: url("../assets/Saco_de_Dinheiro.jpg");
    height: 100vh;
}

/* Container Parallax 2 */
.container-parallax2 {
    background-image: url("../assets/bolas-de-loteria.webp");
    height: 60vh;
}

/* Container Parallax 3 */
.container-parallax3 {
    height: 65vh;
    background-image: url("../assets/fundo-de-trevos.jpg");
}

.container-parallax1 h1,
.container-parallax2 h3,
.container-parallax3 h2 {
    width: 500px;
    padding: 10px;

    position: relative;
    top: 45%;
    right: 0;
    left: 0;
    margin: auto;

    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    font-family: "Fraunces", sans-serif;
    text-align: center;

    letter-spacing: 2px;
    background-color: #604829;
    color: #fff;
}

.container-parallax1 h1 {
    top: 28%;
} 

.container-parallax2 h3 {
    top: 5%;
}

.container-parallax3 h2 {
    top: 5%;
}

.container-parallax1 p {
    width: 500px;
    padding: 10px;
    position: absolute;
    top: 34%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #000000;
    color: #fff;
    font-family: "Oswald", sans-serif;
    line-height: 36px;
    text-shadow: 0px 6px 8px #000000;
    text-align: center;
}

.container-parallax1 ul {
    list-style: none;
    width: 500px;
    padding: 10px;
    position: absolute;
    top: 42%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    line-height: 36px;
    text-shadow: 0px 6px 8px #000000;
    text-align: center;
    opacity: 70%;
}

/* Efeitos aplicados a classe container-texto */

.container-parallax2 table {
    width: 500px;
    padding: 10px;
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: oldlace;
    color: #000000;
    font-family: "Oswald", sans-serif;
    line-height: 36px;
    text-shadow: 0px 6px 8px #000000;
    text-align: center;
}

/*FlexBox*/

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 0px;
    background-color: #000000;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 280px;
    background-color: yellow;
    border-radius: 4px;
}

.container-imagem img {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.container-info {
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*FlexBox*/

/* Rodapé */
.container-rodape {
    position: relative;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #1f4037;
    color: #fff;
}

.container-rodape span {
    color: #c4a47c;
}

.container-rodape a {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 80px;
    right: 50px;

    background-image: url("../assets/seta-para-cima.png");
    background-position: center;
    background-size: cover;
    background-color: #c4a47c;
    border-radius: 4px;
}
